.section {
    box-shadow: 0px 0px 6px -4px #000000;
}

.section__header {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 20px;
    border-bottom: 2px solid rgb(211, 211, 211);
    font-size: 20px;
}