.section {
    box-shadow: 0px 0px 6px -4px #000000;
}

.section--list {
    display: grid;
    grid-template-columns: 2fr auto;
}

.section__header {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 21px;
    border-bottom: 2px solid rgb(211, 211, 211);
    font-size: 20px;
}

@media (max-width: 767px) {
    .section__header {
        border: none;
        display: grid;
        grid-column-end: span 2;
    }
}

.section__container {
    background-color: white;
    margin-top: 10px;
    padding: 21px;
    border-bottom: 2px solid rgb(211, 211, 211);
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .section__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 0;
        padding-top: 0;
    }
}

.section__button {
    background: none;
    border: none;
    padding: 0;
    color: teal;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.3s;
}

@media (max-width: 767px) {
    .section__button {
        justify-content: center;
    }
}

.section__button:hover {
    color: hsl(180, 100%, 30%);
}

.section__button:active {
    color: hsl(180, 100%, 35%);
}

.section__button:disabled {
    color: #ccc;
    cursor: default;
}